<!-- ================================================================
This page is a partial view for chats view.
This is the UI for sending messages 
================================================================ -->
<div
  id="add-msg"
  class="publisher bt-1 border-light p-1 d-flex align-items-center bg-secondary rounded"
>
  <img
    class="avatar avatar-xs"
    src="https://img.icons8.com/color/36/000000/administrator-male.png"
    alt="..."
  />
  <!-- input for text -->
  <input
    class="publisher-input flex-grow-1"
    type="text"
    placeholder="Write something"
    id="messageInput"
  />
  <!-- input for file -->
  <input class="py-0 text-white" type="file" id="fileInput" />
  <!-- send message button -->
  <button class="rounded" id="sendButton">Send</button>
</div>

<script>
  //all files will be converted to base64 string before sending the file
  //after that will be converted back for download

  //variables for message with file
  const userName = "<%= user.name %>";
  let fileName = "";
  let fileBase64 = "";
  let fileType = "";

  //function to convert the file to base64 
  const onFileInputChange = (e) => {
    //get a reference to the file in input
    const file = e.target.files[0];
    //if there is a file, taking his properties 
    if (!file) {
      return;
    }
    fileName = file.name;
    fileType = file.type;

    //encode the file using the FileReader api
    const reader = new FileReader();
    reader.onloadend = () => {
      //use a regex to remove data url part
      const base64String = reader.result
        .replace("data:", "")
        .replace(/^.+,/, "");

      fileBase64 = base64String;
    };
    reader.readAsDataURL(file);
  };

  //function to reset message input and file variables after sending
  const reset = () => {
    $("#messageInput").val("");
    //if there is not filename there is not file
    if (fileName) $("#fileInput").val(""); 
    fileBase64 = "";
    fileName = "";
    fileType = "";
  };

  
  //function to activate when Send button pressed, to create message and emit it
  async function onSendMessage() {
    const messageText = $("#messageInput").val();

    if (!messageText && !fileName) {
      return;
    }

    const message = {
      senderId: userId,
      senderName: userName,
      text: messageText,
      file: !fileName
        ? null
        : {
            name: fileName,
            type: fileType,
            data: fileBase64,
          },
    };

    socket.emit("message:add", message, chatId);

    reset();
  }

  //finally self-invoke function for reset inputs and send message  
  (() => {
    $("#fileInput").on("change", function (e) {
      onFileInputChange(e);
    });

    $("#sendButton").on("click", function () {
      onSendMessage();
    });
  })();
</script>
