<!-- ================================================================
This page is our UI authentication main layout,
using login and register views 
================================================================ -->
<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- jquery link -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- styling for authentication layout-->
    <style>
      body {
        height: 100vh;
        background-image: url("https://wallpaperaccess.com/full/1287392.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      #headline {
        background-color: transparent;
      }

      #loginContainer {
        height: 100%;
        align-content: center;
      }
      .card {
        height: 330px;
        margin-top: auto;
        margin-bottom: auto;
        width: 350px;
        background-image: url("https://wallpaperaccess.com/full/1287392.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>


  <body class="overflow-hidden">

    <div id="headline" class="d-flex justify-content-center text-white">
      Welcome to Chat-App
    </div>

    <div id="loginContainer" class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card border-light">
          <div class="card-header">
            <h3 class="text-white"><%- card_title %></h3>
          </div>
          <div class="card-body"><%- body %></div>
        </div>
      </div>
    </div>
    <script>

      async function request(method, url, data) {
        try {
          const resp = await fetch(url, {
            method: method,
            headers: {
              "Content-Type": "application/json",
            },
            body: data ? JSON.stringify(data) : {},
            redirect: "follow",
          });

          if (resp.redirected) {
            window.location.href = resp.url;
          }
          
          return resp;
        } catch (error) {
          console.error(error);
          return null;
        }
      }
    </script>
  </body>
</html>
