<style>
  .user-pic {
    width: 8vw;
  }

  .media-body > p:not(:last-child) {
    background: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
</style>

<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-3 bg-info">
      <div class="card-box text-center">
        <section>
          <div class="user-pic mx-auto my-4">
            <img
              src="/images/user.svg"
              class="img-fluid bg-secondary rounded-circle"
              alt="User Pic"
            />
          </div>
          <h4 class="m-0">Rajnish Kumar</h4>
        </section>
        <hr class="m-4" />
        <section>Bottom</section>
      </div>
    </div>

    <div class="p-0 col-md-9 bg-danger">
      <div class="d-flex flex-column h-100">
        <div
          id="chat-content"
          class="overflow-auto d-flex flex-column flex-grow-1 p-3"
        >
          <div class="media media-chat d-flex align-self-start">
            <img
              class="avatar align-self-start"
              src="https://img.icons8.com/color/36/000000/administrator-male.png"
              alt="..."
            />
            <div class="media-body">
              <p>Hi</p>
              <p>How are you ...???</p>
              <p>
                What are you doing tomorrow?<br />
                Can we come up a bar?
              </p>
              <p class="meta"><time datetime="2018">23:58</time></p>
            </div>
          </div>

          <div
            class="
              media media-meta-day
              text-center
              border-bottom border-top
              my-3
            "
          >
            Today
          </div>

          <div
            class="
              media media-chat media-chat-reverse
              text-end
              d-flex
              flex-row-reverse
              align-self-end
            "
          >
            <img
              class="avatar align-self-start"
              src="https://img.icons8.com/color/36/000000/administrator-male.png"
              alt="..."
            />
            <div class="media-body">
              <p>Hiii, I'm good.</p>
              <p>How are you doing?</p>
              <p>Long time no see! Tomorrow office. will be free on sunday.</p>
              <p class="meta"><time datetime="2018">00:06</time></p>
            </div>
          </div>

          <div class="media media-chat align-self-start d-flex">
            <img
              class="avatar align-self-start"
              src="https://img.icons8.com/color/36/000000/administrator-male.png"
              alt="..."
            />
            <div class="media-body">
              <p>Okay</p>
              <p>We will go on sunday?</p>
              <p class="meta"><time datetime="2018">00:07</time></p>
            </div>
          </div>
        </div>

        <div
          class="
            publisher
            bt-1
            border-light
            p-3
            bg-white
            d-flex
            align-items-center
          "
        >
          <img
            class="avatar avatar-xs"
            src="https://img.icons8.com/color/36/000000/administrator-male.png"
            alt="..."
          />
          <input
            class="publisher-input"
            type="text"
            placeholder="Write something"
          />
          <span class="publisher-btn file-group">
            <i class="fa fa-paperclip file-browser"></i> <input type="file" />
          </span>
          <a class="publisher-btn" href="#" data-abc="true"
            ><i class="fa fa-smile"></i
          ></a>
          <a class="publisher-btn text-info" href="#" data-abc="true"
            ><i class="fa fa-paper-plane"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
