<form action="" onsubmit="return onLogin(event)">
  <% if (locals.err_msg) { %>
  <h3><%= err_msg %></h3>
  <% } %>

  <div class="input-group mb-3 justify-content-center">
    <div class="input-group-append">
      <input
        required
        name="name"
        type="text"
        class="form-control input_user mb-1"
        placeholder="Username"
      />
      <input
        required
        name="password"
        type="password"
        class="form-control input_pass"
        placeholder="Password"
      />

      <div class="d-flex flex-column mt-2 login_container">
        <button type="submit" class="btn btn-success login_btn ">Sign in</button>
        <p class="mt-5 mb-0 text-white">Dont have user yet?</p>
        <a class="btn btn-primary " href="/auth/register" role="button"
          >Register
        </a>
      </div>
    </div>
  </div>
</form>

<script>
  async function onLogin(e) {
    e.preventDefault();

    const form = new FormData(e.target);
    const name = form.get("name");
    const password = form.get("password");

    const resp = await request("POST", "/auth/login", { name, password });
    if (!resp || !resp.ok) {
      alert("Login Error");
      return;
    }
  }
</script>
