<form action="" onsubmit="return onLogin(event)">
  <% if (locals.err_msg) { %>
  <h2><%= err_msg %></h2>
  <% } %>

  <div class="input-group mb-3 justify-content-center">
    <div class="input-group-append">
      <input
        name="name"
        type="text"
        class="form-control input_user"
        placeholder="username"
      />
      <input
        name="password"
        type="password"
        class="form-control input_pass"
        placeholder="password"
      />

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customControlInline"
          />
          <label class="custom-control-label" for="customControlInline"
            >Remember me</label
          >
        </div>
      </div>

      <div class="d-flex justify-content-end mt-3 login_container">
        <a class="btn btn-primary" href="/auth/register" role="button"
          >Register
        </a>
        <button type="submit" class="btn login_btn border">Sign in</button>
      </div>
    </div>
  </div>
</form>

<script>
  async function onLogin(e) {
    e.preventDefault();

    const form = new FormData(e.target);
    const name = form.get("name");
    const password = form.get("password");

    try {
      const resp = await fetch("/auth/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ name, password }),
        redirect: "follow",
      });

      if (resp.redirected) {
        window.location.href = resp.url;
        return;
      }

      if (!resp.ok) {
        alert("Login Error");
      }
    } catch (error) {
      console.error(error);
      alert("Login Error");
      return;
    }
  }
</script>
