<form>
    <div class="input-group mb-3 justify-content-center">
        <div class="input-group-append">
            <input type="text" name="" class="form-control input_user" value="" placeholder="username">
            <input type="password" name="" class="form-control input_pass" value="" placeholder="password">
            <input type="password" name="" class="form-control input_pass" value="" placeholder="confirm password">

            <div class="d-flex justify-content-end mt-3 login_container">
                <a class="btn btn-primary" href="/login" role="button">Sign in </a>
                <button type="button" name="button" class="btn login_btn border">Register</button>    
            </div>
        </div>
    </div>
</form>
